.option {
    padding: 10px;
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .option.selected {
    background-color: grey;
    color: white;
  }